{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        aysylu/loom {:mvn/version "1.0.2"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
        org.clojure/data.priority-map {:mvn/version "1.1.0"}
        org.clojure/core.memoize {:mvn/version "1.0.257"}}
 :aliases {:aoc {:ns-default aoc
                 :extra-paths ["script" "src"]
                 :extra-deps {babashka/fs {:mvn/version "0.1.11"}
                              criterium/criterium {:mvn/version "0.4.6"}
                              org.clojure/tools.cli {:mvn/version "1.0.206"}
                              http-kit/http-kit {:mvn/version "2.6.0"}
                              aysylu/loom {:mvn/version "1.0.2"}
                              org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
                              org.clojure/data.priority-map {:mvn/version "1.1.0"}
                              org.clojure/core.memoize {:mvn/version "1.0.257"}}}}}
